<!DOCTYPE html> <!--Se inicializa la estructura HTML-->
<html>
<head>
    <title>Learn 4</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js')}}"></script>
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
<!-- ***********************EMPIEZA CONTENIDO *******************************-->    
<!--    
<div class="dropright">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Desplegable</button>
    <div class="dropdown-menu">
        <a href="#" class="dropdown-item">Link 1</a>
        <a href="#" class="dropdown-item">Link 1</a>
        <a href="#" class="dropdown-item">Link 1</a>
        <a href="#" class="dropdown-item">Link 1</a>
    </div>
</div>
-->
<div class="containerfluid">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light " style = "background-color: rgb(59,104,140);color: white;"> <!--se crea un menu de navegacion responsive con color info -->
        <a class="navbar-brand" href="#index.html" style = "color: white">
          <img src="{{ url_for('static', filename='img/imagen.ico') }}" class="rounded-circle" width="30" height="30" class="d-inline-block align-top">
            Learn4
        </a> <!--se crea un titulo que resalta en el menu de navegacion, en este caso redirecciona a home-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <!--Se crea un div que contiene a los botones los cuales se ocultan al reducir el tamaño de pantalla-->
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> <!--se crea un div responsive para acomodar los demas botones-->
          <ul class="navbar-nav mr-auto nav-justify-content-center"> <!--se crea una lista con links dentro de ella los cuales van a ser los botones-->
            <li class="nav-item"> <!--este es lel link para about us-->
              <form = method="post" id="login-form">
                <input type="submit" name="submit_button" value="Mis Cursos">
              </form>
            </li>
            <li class="nav-item"> <!--este es lel link para iniciar sesion-->
              <form = method="post" id="login-form">
                <input type="submit" name="submit_button" value="Perfil">
              </form>
            </li>
            <li class="nav-item"> <!--este es el link para crear una nueva cuenta-->
              <form = method="post" id="login-form">
                <input type="submit" name="submit_button" value="Loggedout">
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>  
</div>
{% block content %}
{% endblock %}
  <!--+++++++++++++++++++footer++++++++++++++++++++++++-->
  <div class="jumbotron jumbotron-fluid bg-danger" style="padding: 5px">  <!--se crea una caja que contendra imagen es del footes-->
    <div class="text-center">
        <img src="{{ url_for('static', filename='img/ods4.png') }}" style="width:110px; height: 110px"> <!--imagenes del footer:-->
        <img src="{{ url_for('static', filename='img/onu.png') }}" style="width:500px; height: 110px">
      </div>
  </div>  
  <!--+++++++++++++++++++footer++++++++++++++++++++++++-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>    
</html>