<!--template para ver el curso por parte del alumno (no se puede editar)-->
<!--Pagina de inicio del maestro -->

{% extends "barraUsuario.html" %}
{% block content %}
 <div class="jumbotron jumbotron-fluid">
 		 <h1 class="display-4"> {{ nombre }} </h1>
 </div>

 <div class="container">
 	<div class="row">
 		<div class="col-12">
 			<div class="card" style="width: 18rem;">
 				<div class="card-header">
 					Curso
 				</div>
 				<ul class="list-group list-group-flush">
 					{% for item in lecciones%}
 						{{ item }}
 					{% endfor %}
 				</ul>
 			</div>
 		</div>
 		<input type="submit" name="submit_button" value="editar curso">
 	</div>
 </div>

{% endblock %}
