 {%extends "barraMaestro.html"%}
 {% block content %}
  <div class="jumbotron jumbotron-fluid">
 	{{ nombre }}
 </div>
 {% from "_formhelpers.html" import render_field %}
<form = method="post" id="login-form">
	<div class="form-group">
		{{ render_field(formulario.departamento) }}
	</div>
 <div class="container">
 	<div class="row">
 		<div class="col-12">
 			<div class="card" style="width: 18rem;">
 				<div class="card-header">
 					Curso
 				</div>
 				<ul class="list-group list-group-flush">
 					{% for item in lecciones %}
 					<li class="list-group-item">
 						<input type="submit" name="submit_button" value={{item}}>
 						{{ item }}</li>
 					{% endfor %}
 				</ul>
 				<button type="button" class="submit_button" value="+">+</button> <!--este boton sirve para agregar mas lecciones-->
 			</div>
 		</div>
 	</div>
 </div>
<input type="submit" name="submit_button" value="Crear">
 {%endblock%}