{% extends "barraMaestro.html" %}

{% block content %}

<!-- este es boton que emerge un cuadro para editar el perfil  -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Editar perfil
</button>

<!--aqui se modifica el cuadro emergente por medio de eventos de Js-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> <!--este boton cierra el cuadro emergente-->
        <button type="button" class="btn btn-primary">Guardar cambios</button> <!--este boton guarda los cambios, aqui podes hacer el submit saul, si queres editalo luego yo le pongo estilo-->
      </div>
    </div>
  </div>
</div>

{% endblock %}
