<!DOCTYPE html>
<html>
<head>
    
    
    <meta charset="utf-8">
	<title>Learn4</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-latest.js"></script> 
    <script src="arriba.js"></script>
</head>
<body>
    <div>
    <span class="icon-arriba"></span>
	<header>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu"><img src="menu.png" alt=""></label>
		<nav class = "navegacion"> 
			<ul class = "menu"> 
				<li><a href="#"><img src="imagen.ico" width="30" height="30" id="imagen"></a></li> 
				<li><a href="#">Mis Cursos</a></li>
				<li><a href="#ab">Cursos</a></li>
				<li><a href="#">Perfil</a></li>
			</ul>
            
    <div class="container">
            <div class="Perfil"></div>
            <div class=""> </div>
            
    </div>
    
		</nav>
	</header>
        
    </div>
    
</body>
</html>