	<!--Maestro loggeado-->
{% extends "barraMaestro.html" %}
{% block content %}

<div class="container" style="padding: 30px; justify-content: center;">
	<div class="row align-items-center">
		<div class="col-4"></div> 
		<div class="col-8">	
			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="../static/img/pen.jpg" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">{{ nombre }}</h5>
			    <p class="card-text">{{ apellidos }}</p>
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item">correo : {{ email }}</li>
			    <li class="list-group-item"> Usuario : {{ username }}</li>
			    <li class="list-group-item"> Tipo de Usuario : {{ tipo }}</li> <!--Se le pueden agreagar mas li para poder crear nuevos campos ... -->
			  </ul>
			  <div class="card-body">
				    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	 				 Editar perfil
					</button>

									<!--aqui se modifica el cuadro emergente por medio de eventos de Js-->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Editar perfil</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					      	{% from "_formhelpers.html" import render_field %}
				            <form = method="post" id="signin-form">
				            <form>
				              <div class="form-group">
				                {{ render_field(formulario.nombres, type="text", class="form-control", placeholder="Nombres") }}
				                {{ render_field(formulario.apellidos, type="text", class="form-control", placeholder="Apellidos") }}
				              </div>
				                {{ render_field(formulario.username, type="text", class="form-control", placeholder="Nombre de usuario")  }}
				                {{ render_field(formulario.clave, type="password", class="form-control", id="exampleInputPassword1", placeholder="Contraseña") }}
				                {{ render_field(formulario.confirm, type="password", class="form-control", id="exampleInputPassword1", placeholder="Contraseña") }}
				                <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> <!--este boton cierra el cuadro emergente-->
							        <input type="submit" class= "btn btn-primary" name="submit_button" value="Guardar">
							      </div>
				              </form>
					        </div>
					    </div>
					  </div>
					</div>
			  </div>
			</div>
		
		</div>
		
	</div>
</div>
<h5 class="card-header bg-secondary" ><p class="text-center text-white" style="font-size: 2rem">
	{% from "_formhelpers.html" import render_field %}  <!--formulario para crear un curso nuevo-->
    <form = method="post" id="login-form">
    	<div class="form-group">
    		{{ render_field(crear.palabra, type="text", class="form-control", placeholder="Nombre del curso") }}
    		<input type="submit" class = "btn btn-success" name="submit_button" value="Crear">
    	</div>
    </form>
</p></h5>
<div class="container" style="padding-top: 20px;">
	<div class="row">
		<div class="col-12">
			<div class="card">
			  <h5 class="card-header bg-secondary" ><p class="text-center text-white" style="font-size: 2rem">Cursos</p></h5>
			  <div class="card-body">
			    <h5 class="card-title">Cursos Administrados:</h5>
 				<ul class="list-group list-group-flush">
 					<form = method="post" id="login-form">
					    {% for item in CursosAdministrados %}
					    	<input type="submit" class="btn btn-primary btn-lg btn-block" name="submit_button" value={{item}}>
					    	<br>
					    {% endfor %}
					</form>	
			  	</ul>			    	
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Mis Cursos:</h5>
 				<ul class="list-group list-group-flush">
				    {% for item in CursosInscritos %}
				    	<input type="submit" name="submit_button" value={{item}} > <!--estilo-->
				    {% endfor %}
				    <h5 class="card-header bg-secondary" ><p class="text-center text-white" style="font-size: 2rem">
						{% from "_formhelpers.html" import render_field %}
					    <form = method="post" id="login-form">
					    	<div class="form-group">
					    		<input type="submit" class="btn btn-light" name="submit_button" value="+">
					    	</div>
					    </form>
					</p></h5>
			  	</ul>			    	
			  </div>
			</div>
		</div>
	</div>
</div>


{% endblock %}


