	<!--Maestro loggeado-->
{% extends "barra.html" %}
{% block content %}

<div class="container" style="padding: 30px; justify-content: center;">
	<div class="row align-items-center">
		<div class="col-4"></div> 
		<div class="col-8">	
			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="../static/img/pen.jpg" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">{{ nombre }}</h5>
			    <p class="card-text">{{ apellidos }}</p>
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item">correo : {{ email }}</li>
			    <li class="list-group-item"> Usuario : {{ username }}</li>
			    <li class="list-group-item"> Tipo de Usuario : {{ tipo }}</li> <!--Se le pueden agreagar mas li para poder crear nuevos campos ... -->
			  </ul>
			  <div class="card-body">
			    <a href="#" class="card-link">Editar perfil</a>
			  </div>
			</div>
		
		</div>
		
	</div>
</div>
<h5 class="card-header bg-secondary" ><p class="text-center text-white" style="font-size: 2rem">
	{% from "_formhelpers.html" import render_field %}  <!--formulario para crear un curso nuevo-->
    <form = method="post" id="login-form">
    	<div class="form-group">
    		{{ render_field(crear.palabra, type="text", class="form-control", placeholder="Nombre del curso") }}
    		<input type="submit" class = "btn btn-success" name="submit_button" value="Crear">
    	</div>
    </form>
</p></h5>
<div class="container" style="padding-top: 20px;">
	<div class="row">
		<div class="col-12">
			<div class="card">
			  <h5 class="card-header bg-secondary" ><p class="text-center text-white" style="font-size: 2rem">Cursos</p></h5>
			  <div class="card-body">
			    <h5 class="card-title">Cursos Administrados:</h5>
 				<ul class="list-group list-group-flush">
 					<form = method="post" id="login-form">
					    {% for item in CursosAdministrados %}
					    	<input type="submit" class="btn btn-primary  btn-lg btn-block" name="submit_button" value={{item}}>
					    	<br>
					    {% endfor %}
					</form>	
			  	</ul>			    	
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Mis Cursos:</h5>
 				<ul class="list-group list-group-flush">
				    {% for item in CursosInscritos %}
				    	<input type="submit" name="submit_button" value={{item}} > <!--estilo-->
				    {% endfor %}
				    <h5 class="card-header bg-secondary" ><p class="text-center text-white" style="font-size: 2rem">
						{% from "_formhelpers.html" import render_field %}
					    <form = method="post" id="login-form">
					    	<div class="form-group">
					    		<input type="submit" class="btn btn-light" name="submit_button" value="+">
					    	</div>
					    </form>
					</p></h5>
			  	</ul>			    	
			  </div>
			</div>
		</div>
	</div>
</div>


{% endblock %}


