<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>Pagina Principal</title>
	<link rel="stylesheet" type="text/css" href="estilos.css">
    <link rel="stylesheet" href="fonts.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="arriba.js"></script>
</head>
<body>
    <span class="icon-arriba"></span>
	<header>
		<input type="checkbox" id="btn-menu">
		<label for="btn-menu"><img src="menu.png" alt=""></label>
		<nav class = "navegacion"> 
			<ul class = "menu"> 
				<li><a href="#"><img src="imagen.ico" width="30" height="30" id="imagen"></a></li> 
				<li><a href="#">Contact</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Log In</a></li>
				<li><a href="#">Sign In</a></li>

			</ul>
		</nav>
	</header>
    <br>
    <br>
    <br>
    <br>
    <div class="LogIn">
    	<p>La nueva forma de encontrar información</p>
        <p class="valiosa">Valiosa!</p>
        <input class="usuario" placeholder="Nickname" type="text">
    </div>
</body>
</html>