
<!--Proyecto Final POO Learn4
Integrantes:
  Saul Contreras
  Roberto Figueroa
  Gerardo Mendez
  Maria Isabel
  Randy Venegas

mycurso  -  template para ver el curso por parte del alumno (no se puede editar)
-->



{% extends "barraUsuario.html" %}
{% block content %}
 <div class="jumbotron jumbotron-fluid">
 		 <h1 class="display-4"> {{ nombre }} </h1>
 		 <h5 > {{ autor }} </h5>
 </div>

 <div class="container">
 	<div class="row">
 		<div class="col-12">
 			<div class="card" style="width: 18rem;">
 				<div class="card-header">
 					Curso
 				</div>
 				<ul class="list-group list-group-flush">
 					{% for item in lecciones%}<!--por medio de una lista proviniente de la base de datos se muestra con un ciclo for todos los cursos disponibles en la plataforma-->
 						{% for item1 in item %}
 							{{ item1 }}
 							<br>
 						{% endfor %}
 						<br><br>
 					{% endfor %}
 				</ul>
 			</div>
 		<form = method="post" id="signin-form">
	 		<div class="col">
				<input type="submit" class= "btn btn-success" name="submit_button" value="Unirse">
			</div>
		</form>
 		</div>
 	</div>
 </div>

{% endblock %}
