 {%extends "barraMaestro.html"%}
 {% block content %}
  <div class="jumbotron jumbotron-fluid">
 		 <h1 class="display-4">Aqui va el nombre del curso </h1>
 </div>

 <div class="container">
 	<div class="row">
 		<div class="col-12">
 			<div class="card" style="width: 18rem;">
 				<div class="card-header">
 					Curso
 				</div>
 				<ul class="list-group list-group-flush">
 					<li class="list-group-item"> Leccion 1 </li>
 					<li class="list-group-item"> Leccion 2 </li>
 					<li class="list-group-item"> Leccion 3 </li>
 					<li class="list-group-item"> Leccion a la n </li>

 				</ul>
 				<button type="button" class="btn btn-outline-info">+</button> <!--este boton sirve para agregar mas lecciones-->
 			</div>
 		</div>
 	</div>
 </div>

 {%endblock%}